@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* shared styles */

a{
    text-decoration: none;
    color: white;
}

.btn{
    background-color: rgb(245, 101, 79);
    width: 200px;
    height: 50px ;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: 550;
    border: 0px;
}

.section-bgc{
    background-color:rgb(5, 5, 5);
    color: white;
   
}
.content-1{
    padding: 100px 200px 10px;
}

.display{
    display: flex;
    justify-content: space-between;
}
/* banner */

.banner{
    background:linear-gradient(180deg, #474747, #0e0d0d) ;
    color: white;
    max-width: 1440px;
    height: 650px;
}

.content{
    padding: 30px 160px 10px;
   

}

/* navigation */
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;}


.menu-icon{
    display: none;
}



.home{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
    font-size: 16px;
    font-weight: 400;
   
}

ul{
    display: flex;
    gap: 47px;
    align-items: center;
    padding: 3px 3px;
    margin: 2px;
}
li{
    list-style: none;
}

.home-btn{
  background: rgb(230, 83, 60);
  padding:9px 16px;
  border-radius: 30px;
}

.fitness{
    color: rgb(230, 83, 60);
    font-size: 33px;
    font-weight: 700;
}

/* get in shape */

.full-shape{
    display: flex;
    justify-content: space-between;
}
.get-in-shape{
    width: 520px;
    height: 290px;
    margin-top: 50px;
}

h1{
    font-size: 70px;
    font-weight: 800px;
}

.p-header{
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.shape{
    font-family:'Miama';
    font-style: italic;
    font-weight: 100;
}

.btn-1{
    background:linear-gradient(180deg, #222020, #0e0d0d) ;
    width: 200px;
    height: 50px ;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: 550;
    border: 1px solid white;
}

.btns{
    margin-top: 25px;
}

/* tutorial */

.tutorial{
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    height: 550px;
}


/* box*/ 

.main-box{
    display: flex;
}

.text-box{
    height: 95px;
    width: 200px;
    background-color: rgba(48, 48, 48, 0.54);
    border:0px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    translate: 230px 125px;
}

.text-box1{
    height: 95px;
    width: 200px;
    background-color: rgba(48, 48, 48, 0.54);
    border:0px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    translate: -330px 421px;
}

.count{
    font-size: 30px;
    font-weight: 800;
}

.count-1{
    font-size: 20px;
    font-weight: 800;
}

.description{
    font-size: 12px;
    font-weight: 420;
    color: rgba(239, 237, 232, 0.65);
}

.circle{
    background-color: rgb(230, 83, 60) ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* changing habits */

.habit-des{
    text-align: center;
    width: 630px;
    margin-left: 200px;
}

h2{
    font-size: 38px;
    font-weight: 800;
}

.p2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}

/* habit card */

.habit-card{
    width: 235px;
    height: 275px;
}
.card-img{
    border: 1px solid rgb(100, 100, 99);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 20px;
  
}
.card-des{
    text-align: center;
    margin-top: 20px;
}
.habit-h{
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
}

.p3{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 300;
}
.main-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
   gap: 30px;
}

/* extra mile */

.extra-bgc{
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.extra{
    width: 400px;
    height: 300px;
    padding:60px 50px;
    
}

.extra h2{
    font-size:50px;
}

.extra p, button{
    margin-top: 20px;
}

.extra-img{
    border-radius: 15px;
    width: 360px;
    height: 300px;
}

/* BMI calculator */

/* bmi-calc-des */

.bmi-calc-des{
    width: 700px;
    height: 200px;
   text-align: left;
   margin: 50px;
}

.BMI{
    display: flex;
    justify-content: center;
}

/* calculator */


/* chart */

 .div-bgc-1{
    background-color: rgb(34, 34, 34);
    color: white;
 }


.chart h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom:50px ;
}
th{
    font-size: 15px;
    font-weight: 600;
    text-align:start;
    padding: 15px 35px;

}
td{
    padding: 15px 35px;
}
 
/* bmi calc */
.calc{
    width: 480px;
    height: 500px;
}
.calc-des h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom:20px ;
}

form{
    margin-top: 50px;
}
.form-div{
    display: flex;
    justify-content: space-between;
}

select {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(68, 68, 68);
    color: rgb(148, 144, 144);
    margin:5px;
}

input {
    width: 45%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(68, 68, 68);
    color: white;
    margin:5px;
}

.form-div-1 select{
    width: 98%;
}

























/* responsive */

/* small device */
@media screen and (max-width: 576px) {
    
    body{
        width: 576px;
        height: 100%;
    }

    .banner{
        height: 1120px;
    }
    .content{
        padding: 30px 40px 0px;
    }

    /* shared */
      .content-1{
        padding: 10px 50px 20px 50px ;
      }
    /* navbar */
    .menu-icon{
        display: block;
    }

    ul{
        display: none;
    }
    .home{
        border: none;
    }

    /* full shape */
    
    .full-shape{
      flex-direction: column;
      padding: 30px 20px 0px;
      justify-content: center;
    }

    .tutorial{
        margin-top: 100px;
        margin-left: 20px;
    }

    .text-box{
        translate: 200px 60px;
    }
    .text-box1{
        translate: -230px 271px;
    }

    .get-in-shape{
        width: 500px;
        height: 290px;
        margin-top: 50px;
        font-size: 40px;
    }

    .btns{
        margin-top: 20px;
        margin-left: 20px;
        
    }

    .btn{
        width: 180px;
        height: 60px ;
    }
    .btn-1{
        width: 180px;
        height: 60px ;
    }

    /* changing habits */

    .habit-des{
        width: 318px;
        height: 124px;
        margin-left: 70px;
    }
    
    h2{
        font-size: 35px;
        font-weight: 600;
    }
    
    .p2{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }

    .main-card{
    
        grid-template-columns: repeat(1, 1fr);
        margin-top: 80px;
       padding: 0px 100px 0px;
    }
    
    /* extra mile */
    .extra-bgc{
        flex-direction: column;
        padding: 20px 50px 20px;
    }

    /* bmi calculator */
    
    .display{
        flex-direction: column;
        justify-content: center;
    }

    .chart{
        margin-top:4rem;
        margin-bottom: 4rem;

    }
    .calc-des h2{
        font-size: 25px;
        font-weight: 700;
    }
    .chart h2{
        font-size: 25px;
        font-weight: 700;
    }

}
    
